@font-face {
	font-family: SourceCodePro;
	font-style: normal;
	font-weight: 300;
	src: local("SourceCodeProLight"), local("SourceCodePro-Light"), url(https://cdn.jsdelivr.net/npm/source-code-pro@2.30.2/TTF/SourceCodePro-Light.ttf) format("truetype")
}

@font-face {
	font-family: SourceCodePro;
	font-style: normal;
	font-weight: 400;
	src: local("SourceCodePro"), local("SourceCodePro-Regular"), url(https://cdn.jsdelivr.net/npm/source-code-pro@2.30.2/TTF/SourceCodePro-Regular.ttf) format("truetype")
}

@font-face {
	font-family: SourceCodePro;
	font-style: normal;
	font-weight: 600;
	src: local("SourceCodeProSemibold"), local("SourceCodePro-Semibold"), url(https://cdn.jsdelivr.net/npm/source-code-pro@2.30.2/TTF/SourceCodePro-Semibold.ttf) format("truetype")
}

@font-face {
	font-family: SourceCodePro;
	font-style: normal;
	font-weight: 700;
	src: local("SourceCodeProBold"), local("SourceCodePro-Bold"), url(https://cdn.jsdelivr.net/npm/source-code-pro@2.30.2/TTF/SourceCodePro-Bold.ttf) format("truetype")
}

@font-face {
	font-family: SourceCodePro;
	font-style: italic;
	font-weight: 400;
	src: local("SourceCodeProItalic"), local("SourceCodePro-It"), url(https://cdn.jsdelivr.net/npm/source-code-pro@2.30.2/TTF/SourceCodePro-It.ttf) format("truetype")
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#terminal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}

